In [18]:
import pandas as pd

import os,sys,inspect
currentdir = os.path.dirname(os.path.abspath(inspect.getfile(inspect.currentframe())))
parentdir = os.path.dirname(currentdir)
sys.path.insert(0,parentdir)

from antipark import *
from antipark.models import Product, Category

# Save Db to Excel

In [20]:
products = Product.query.all()

2016-09-15 11:39:03,190 INFO sqlalchemy.engine.base.Engine SELECT products.id AS products_id, products.category AS products_category, products.subcategory AS products_subcategory, products.title AS products_title, products.specs AS products_specs, products.price AS products_price, products.stage_price AS products_stage_price, products.image AS products_image
FROM products
2016-09-15 11:39:03,192 INFO sqlalchemy.engine.base.Engine {}

In [30]:
columns = [column for column in dir(products[0]) if not (column.startswith('_') or
                                                         column.startswith('query') or
                                                         column.startswith('meta'))]
columns

['category',
 'id',
 'image',
 'price',
 'specs',
 'stage_price',
 'subcategory',
 'title']

In [31]:
price_cols = ['id', 'title', 'price', 'stage_price']

In [37]:
from collections import defaultdict

prods = defaultdict(list)
for col in price_cols:
    for product in products:
        prods[col].append(getattr(product, col))

In [40]:
df = pd.DataFrame(prods)
df.set_index('id', inplace=True)
df.head(5)

     price stage_price                                     title
id
1027   899        1199          Столбик парковочный бетонируемый
1028   999         399              Столбик парковочный анкерный
1029  1999           -           Столбик парковочный передвижной
1030  1999        1199  Столбик съемный с бетонируемой закладной
1031  1999        1199              Столбик парковочный складной

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 329 entries, 1027 to 1355
Data columns (total 3 columns):
price          329 non-null object
stage_price    329 non-null object
title          329 non-null object
dtypes: object(3)
memory usage: 10.3+ KB

In [45]:
df.to_excel('cur_base.xlsx')

# Read Excel and Update Db

In [110]:
df_new = pd.read_excel('cur_base.xlsx', index_col='id')
df_new.head(5)

     price stage_price                                     title
id
1027   899        1199          Столбик парковочный бетонируемый
1028   999         399              Столбик парковочный анкерный
1029  1999           -           Столбик парковочный передвижной
1030  1999        1199  Столбик съемный с бетонируемой закладной
1031  1999        1199              Столбик парковочный складной

In [111]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 329 entries, 1027 to 1355
Data columns (total 3 columns):
price          329 non-null object
stage_price    329 non-null object
title          329 non-null object
dtypes: object(3)
memory usage: 10.3+ KB

In [105]:
# if smth was wrong
db.session.rollback()

In [ ]:
for prod in df_new.itertuples():
    upd_product = Product.query.get(prod.Index)
    for field in prod._fields[1:]:
        setattr(upd_product, field, getattr(prod, field))
    db.session.commit()

2016-09-15 12:25:40,243 INFO sqlalchemy.engine.base.Engine SELECT products.id AS products_id, products.category AS products_category, products.subcategory AS products_subcategory, products.title AS products_title, products.specs AS products_specs, products.price AS products_price, products.stage_price AS products_stage_price, products.image AS products_image
FROM products
WHERE products.id = %(param_1)s
2016-09-15 12:25:40,245 INFO sqlalchemy.engine.base.Engine {'param_1': 1027}
2016-09-15 12:25:40,249 INFO sqlalchemy.engine.base.Engine COMMIT
2016-09-15 12:25:40,257 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2016-09-15 12:25:40,259 INFO sqlalchemy.engine.base.Engine SELECT products.id AS products_id, products.category AS products_category, products.subcategory AS products_subcategory, products.title AS products_title, products.specs AS products_specs, products.price AS products_price, products.stage_price AS products_stage_price, products.image AS products_image
FROM products
WHERE products.id = %(param_1)s
2016-09-15 12:25:40,260 INFO sqlalchemy.engine.base.Engine {'param_1': 1028}
2016-09-15 12:25:40,264 INFO sqlalchemy.engine.base.Engine COMMIT
2016-09-15 12:25:40,274 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2016-09-15 12:25:40,277 INFO sqlalchemy.engine.base.Engine SELECT products.id AS products_id, products.category AS products_category, products.subcategory AS products_subcategory, products.title AS products_title, products.specs AS products_specs, products.price AS products_price, products.stage_price AS products_stage_price, products.image AS products_image
FROM products
WHERE products.id = %(param_1)s
2016-09-15 12:25:40,279 INFO sqlalchemy.engine.base.Engine {'param_1': 1029}
2016-09-15 12:25:40,283 INFO sqlalchemy.engine.base.Engine COMMIT
2016-09-15 12:25:40,292 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2016-09-15 12:25:40,295 INFO sqlalchemy.engine.base.Engine SELECT products.id AS products_id, products.category AS products_category, products.subcategory AS products_subcategory, products.title AS products_title, products.specs AS products_specs, products.price AS products_price, products.stage_price AS products_stage_price, products.image AS products_image
FROM products
WHERE products.id = %(param_1)s
2016-09-15 12:25:40,296 INFO sqlalchemy.engine.base.Engine {'param_1': 1030}
2016-09-15 12:25:40,301 INFO sqlalchemy.engine.base.Engine COMMIT
2016-09-15 12:25:40,306 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2016-09-15 12:25:40,308 INFO sqlalchemy.engine.base.Engine SELECT products.id AS products_id, products.category AS products_category, products.subcategory AS products_subcategory, products.title AS products_title, products.specs AS products_specs, products.price AS products_price, products.stage_price AS products_stage_price, products.image AS products_image
FROM products
WHERE products.id = %(param_1)s
2016-09-15 12:25:40,309 INFO sqlalchemy.engine.base.Engine {'param_1': 1031}
2016-09-15 12:25:40,314 INFO sqlalchemy.engine.base.Engine COMMIT
2016-09-15 12:25:40,319 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2016-09-15 12:25:40,320 INFO sqlalchemy.engine.base.Engine SELECT products.id AS products_id, products.category AS products_category, products.subcategory AS products_subcategory, products.title AS products_title, products.specs AS products_specs, products.price AS products_price, products.stage_price AS products_stage_price, products.image AS products_image
FROM products
WHERE products.id = %(param_1)s
2016-09-15 12:25:40,320 INFO sqlalchemy.engine.base.Engine {'param_1': 1032}
2016-09-15 12:25:40,324 INFO sqlalchemy.engine.base.Engine COMMIT
2016-09-15 12:25:40,334 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2016-09-15 12:25:40,336 INFO sqlalchemy.engine.base.Engine SELECT products.id AS products_id, products.category AS products_category, products.subcategory AS products_subcategory, products.title AS products_title, products.specs AS products_specs, products.price AS products_price, products.stage_price AS products_stage_price, products.image AS products_image
FROM products
WHERE products.id = %(param_1)s
2016-09-15 12:25:40,338 INFO sqlalchemy.engine.base.Engine {'param_1': 1033}
2016-09-15 12:25:40,343 INFO sqlalchemy.engine.base.Engine COMMIT
2016-09-15 12:25:40,351 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2016-09-15 12:25:40,354 INFO sqlalchemy.engine.base.Engine SELECT products.id AS products_id, products.category AS products_category, products.subcategory AS products_subcategory, products.title AS products_title, products.specs AS products_specs, products.price AS products_price, products.stage_price AS products_stage_price, products.image AS products_image
FROM products
WHERE products.id = %(param_1)s
2016-09-15 12:25:40,355 INFO sqlalchemy.engine.base.Engine {'param_1': 1034}
2016-09-15 12:25:40,360 INFO sqlalchemy.engine.base.Engine COMMIT
2016-09-15 12:25:40,370 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2016-09-15 12:25:40,372 INFO sqlalchemy.engine.base.Engine SELECT products.id AS products_id, products.category AS products_category, products.subcategory AS products_subcategory, products.title AS products_title, products.specs AS products_specs, products.price AS products_price, products.stage_price AS products_stage_price, products.image AS products_image
FROM products
WHERE products.id = %(param_1)s
2016-09-15 12:25:40,374 INFO sqlalchemy.engine.base.Engine {'param_1': 1035}
2016-09-15 12:25:40,379 INFO sqlalchemy.engine.base.Engine COMMIT
2016-09-15 12:25:40,387 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2016-09-15 12:25:40,390 INFO sqlalchemy.engine.base.Engine SELECT products.id AS products_id, products.category AS products_category, products.subcategory AS products_subcategory, products.title AS products_title, products.specs AS products_specs, products.price AS products_price, products.stage_price AS products_stage_price, products.image AS products_image
FROM products
WHERE products.id = %(param_1)s
2016-09-15 12:25:40,392 INFO sqlalchemy.engine.base.Engine {'param_1': 1036}
2016-09-15 12:25:40,396 INFO sqlalchemy.engine.base.Engine COMMIT
2016-09-15 12:25:40,405 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2016-09-15 12:25:40,407 INFO sqlalchemy.engine.base.Engine SELECT products.id AS products_id, products.category AS products_category, products.subcategory AS products_subcategory, products.title AS products_title, products.specs AS products_specs, products.price AS products_price, products.stage_price AS products_stage_price, products.image AS products_image
FROM products
WHERE products.id = %(param_1)s
2016-09-15 12:25:40,409 INFO sqlalchemy.engine.base.Engine {'param_1': 1037}
2016-09-15 12:25:40,414 INFO sqlalchemy.engine.base.Engine COMMIT
2016-09-15 12:25:40,420 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2016-09-15 12:25:40,422 INFO sqlalchemy.engine.base.Engine SELECT products.id AS products_id, products.category AS products_category, products.subcategory AS products_subcategory, products.title AS products_title, products.specs AS products_specs, products.price AS products_price, products.stage_price AS products_stage_price, products.image AS products_image
FROM products
WHERE products.id = %(param_1)s
2016-09-15 12:25:40,422 INFO sqlalchemy.engine.base.Engine {'param_1': 1038}
2016-09-15 12:25:40,425 INFO sqlalchemy.engine.base.Engine COMMIT
2016-09-15 12:25:40,430 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2016-09-15 12:25:40,431 INFO sqlalchemy.engine.base.Engine SELECT products.id AS products_id, products.category AS products_category, products.subcategory AS products_subcategory, products.title AS products_title, products.specs AS products_specs, products.price AS products_price, products.stage_price AS products_stage_price, products.image AS products_image
FROM products
WHERE products.id = %(param_1)s
2016-09-15 12:25:40,432 INFO sqlalchemy.engine.base.Engine {'param_1': 1039}
2016-09-15 12:25:40,435 INFO sqlalchemy.engine.base.Engine COMMIT
2016-09-15 12:25:40,439 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2016-09-15 12:25:40,441 INFO sqlalchemy.engine.base.Engine SELECT products.id AS products_id, products.category AS products_category, products.subcategory AS products_subcategory, products.title AS products_title, products.specs AS products_specs, products.price AS products_price, products.stage_price AS products_stage_price, products.image AS products_image
FROM products
WHERE products.id = %(param_1)s
2016-09-15 12:25:40,442 INFO sqlalchemy.engine.base.Engine {'param_1': 1040}
2016-09-15 12:25:40,446 INFO sqlalchemy.engine.base.Engine COMMIT
2016-09-15 12:25:40,455 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2016-09-15 12:25:40,457 INFO sqlalchemy.engine.base.Engine SELECT products.id AS products_id, products.category AS products_category, products.subcategory AS products_subcategory, products.title AS products_title, products.specs AS products_specs, products.price AS products_price, products.stage_price AS products_stage_price, products.image AS products_image
FROM products
WHERE products.id = %(param_1)s
2016-09-15 12:25:40,461 INFO sqlalchemy.engine.base.Engine {'param_1': 1041}
2016-09-15 12:25:40,465 INFO sqlalchemy.engine.base.Engine COMMIT
2016-09-15 12:25:40,475 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2016-09-15 12:25:40,478 INFO sqlalchemy.engine.base.Engine SELECT products.id AS products_id, products.category AS products_category, products.subcategory AS products_subcategory, products.title AS products_title, products.specs AS products_specs, products.price AS products_price, products.stage_price AS products_stage_price, products.image AS products_image
FROM products
WHERE products.id = %(param_1)s
2016-09-15 12:25:40,480 INFO sqlalchemy.engine.base.Engine {'param_1': 1042}
2016-09-15 12:25:40,485 INFO sqlalchemy.engine.base.Engine COMMIT
2016-09-15 12:25:40,496 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2016-09-15 12:25:40,498 INFO sqlalchemy.engine.base.Engine SELECT products.id AS products_id, products.category AS products_category, products.subcategory AS products_subcategory, products.title AS products_title, products.specs AS products_specs, products.price AS products_price, products.stage_price AS products_stage_price, products.image AS products_image
FROM products
WHERE products.id = %(param_1)s
2016-09-15 12:25:40,502 INFO sqlalchemy.engine.base.Engine {'param_1': 1043}
2016-09-15 12:25:40,508 INFO sqlalchemy.engine.base.Engine COMMIT
2016-09-15 12:25:40,518 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2016-09-15 12:25:40,521 INFO sqlalchemy.engine.base.Engine SELECT products.id AS products_id, products.category AS products_category, products.subcategory AS products_subcategory, products.title AS products_title, products.specs AS products_specs, products.price AS products_price, products.stage_price AS products_stage_price, products.image AS products_image
FROM products
WHERE products.id = %(param_1)s
2016-09-15 12:25:40,524 INFO sqlalchemy.engine.base.Engine {'param_1': 1044}
2016-09-15 12:25:40,529 INFO sqlalchemy.engine.base.Engine COMMIT
2016-09-15 12:25:40,540 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2016-09-15 12:25:40,544 INFO sqlalchemy.engine.base.Engine SELECT products.id AS products_id, products.category AS products_category, products.subcategory AS products_subcategory, products.title AS products_title, products.specs AS products_specs, products.price AS products_price, products.stage_price AS products_stage_price, products.image AS products_image
FROM products
WHERE products.id = %(param_1)s
2016-09-15 12:25:40,546 INFO sqlalchemy.engine.base.Engine {'param_1': 1045}
2016-09-15 12:25:40,551 INFO sqlalchemy.engine.base.Engine COMMIT
2016-09-15 12:25:40,559 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2016-09-15 12:25:40,561 INFO sqlalchemy.engine.base.Engine SELECT products.id AS products_id, products.category AS products_category, products.subcategory AS products_subcategory, products.title AS products_title, products.specs AS products_specs, products.price AS products_price, products.stage_price AS products_stage_price, products.image AS products_image
FROM products
WHERE products.id = %(param_1)s
2016-09-15 12:25:40,563 INFO sqlalchemy.engine.base.Engine {'param_1': 1046}
2016-09-15 12:25:40,568 INFO sqlalchemy.engine.base.Engine COMMIT
2016-09-15 12:25:40,576 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2016-09-15 12:25:40,578 INFO sqlalchemy.engine.base.Engine SELECT products.id AS products_id, products.category AS products_category, products.subcategory AS products_subcategory, products.title AS products_title, products.specs AS products_specs, products.price AS products_price, products.stage_price AS products_stage_price, products.image AS products_image
FROM products
WHERE products.id = %(param_1)s
2016-09-15 12:25:40,579 INFO sqlalchemy.engine.base.Engine {'param_1': 1047}
2016-09-15 12:25:40,584 INFO sqlalchemy.engine.base.Engine COMMIT
2016-09-15 12:25:40,589 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2016-09-15 12:25:40,591 INFO sqlalchemy.engine.base.Engine SELECT products.id AS products_id, products.category AS products_category, products.subcategory AS products_subcategory, products.title AS products_title, products.specs AS products_specs, products.price AS products_price, products.stage_price AS products_stage_price, products.image AS products_image
FROM products
WHERE products.id = %(param_1)s
2016-09-15 12:25:40,591 INFO sqlalchemy.engine.base.Engine {'param_1': 1048}
2016-09-15 12:25:40,594 INFO sqlalchemy.engine.base.Engine COMMIT
2016-09-15 12:25:40,599 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2016-09-15 12:25:40,600 INFO sqlalchemy.engine.base.Engine SELECT products.id AS products_id, products.category AS products_category, products.subcategory AS products_subcategory, products.title AS products_title, products.specs AS products_specs, products.price AS products_price, products.stage_price AS products_stage_price, products.image AS products_image
FROM products
WHERE products.id = %(param_1)s
2016-09-15 12:25:40,601 INFO sqlalchemy.engine.base.Engine {'param_1': 1049}
2016-09-15 12:25:40,603 INFO sqlalchemy.engine.base.Engine COMMIT
2016-09-15 12:25:40,609 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2016-09-15 12:25:40,610 INFO sqlalchemy.engine.base.Engine SELECT products.id AS products_id, products.category AS products_category, products.subcategory AS products_subcategory, products.title AS products_title, products.specs AS products_specs, products.price AS products_price, products.stage_price AS products_stage_price, products.image AS products_image
FROM products
WHERE products.id = %(param_1)s
2016-09-15 12:25:40,610 INFO sqlalchemy.engine.base.Engine {'param_1': 1050}
2016-09-15 12:25:40,613 INFO sqlalchemy.engine.base.Engine COMMIT
2016-09-15 12:25:40,618 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2016-09-15 12:25:40,619 INFO sqlalchemy.engine.base.Engine SELECT products.id AS products_id, products.category AS products_category, products.subcategory AS products_subcategory, products.title AS products_title, products.specs AS products_specs, products.price AS products_price, products.stage_price AS products_stage_price, products.image AS products_image
FROM products
WHERE products.id = %(param_1)s
2016-09-15 12:25:40,620 INFO sqlalchemy.engine.base.Engine {'param_1': 1051}
2016-09-15 12:25:40,622 INFO sqlalchemy.engine.base.Engine COMMIT
2016-09-15 12:25:40,627 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2016-09-15 12:25:40,629 INFO sqlalchemy.engine.base.Engine SELECT products.id AS products_id, products.category AS products_category, products.subcategory AS products_subcategory, products.title AS products_title, products.specs AS products_specs, products.price AS products_price, products.stage_price AS products_stage_price, products.image AS products_image
FROM products
WHERE products.id = %(param_1)s
2016-09-15 12:25:40,629 INFO sqlalchemy.engine.base.Engine {'param_1': 1052}
2016-09-15 12:25:40,632 INFO sqlalchemy.engine.base.Engine COMMIT
2016-09-15 12:25:40,637 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2016-09-15 12:25:40,638 INFO sqlalchemy.engine.base.Engine SELECT products.id AS products_id, products.category AS products_category, products.subcategory AS products_subcategory, products.title AS products_title, products.specs AS products_specs, products.price AS products_price, products.stage_price AS products_stage_price, products.image AS products_image
FROM products
WHERE products.id = %(param_1)s
2016-09-15 12:25:40,639 INFO sqlalchemy.engine.base.Engine {'param_1': 1053}
2016-09-15 12:25:40,641 INFO sqlalchemy.engine.base.Engine UPDATE products SET stage_price=%(stage_price)s WHERE products.id = %(products_id)s
2016-09-15 12:25:40,642 INFO sqlalchemy.engine.base.Engine {'products_id': 1053, 'stage_price': '-'}
2016-09-15 12:25:40,717 INFO sqlalchemy.engine.base.Engine COMMIT
2016-09-15 12:25:40,773 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2016-09-15 12:25:40,775 INFO sqlalchemy.engine.base.Engine SELECT products.id AS products_id, products.category AS products_category, products.subcategory AS products_subcategory, products.title AS products_title, products.specs AS products_specs, products.price AS products_price, products.stage_price AS products_stage_price, products.image AS products_image
FROM products
WHERE products.id = %(param_1)s
2016-09-15 12:25:40,775 INFO sqlalchemy.engine.base.Engine {'param_1': 1054}
2016-09-15 12:25:40,778 INFO sqlalchemy.engine.base.Engine COMMIT
2016-09-15 12:25:40,783 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2016-09-15 12:25:40,785 INFO sqlalchemy.engine.base.Engine SELECT products.id AS products_id, products.category AS products_category, products.subcategory AS products_subcategory, products.title AS products_title, products.specs AS products_specs, products.price AS products_price, products.stage_price AS products_stage_price, products.image AS products_image
FROM products
WHERE products.id = %(param_1)s
2016-09-15 12:25:40,785 INFO sqlalchemy.engine.base.Engine {'param_1': 1055}
2016-09-15 12:25:40,788 INFO sqlalchemy.engine.base.Engine COMMIT
2016-09-15 12:25:40,793 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2016-09-15 12:25:40,794 INFO sqlalchemy.engine.base.Engine SELECT products.id AS products_id, products.category AS products_category, products.subcategory AS products_subcategory, products.title AS products_title, products.specs AS products_specs, products.price AS products_price, products.stage_price AS products_stage_price, products.image AS products_image
FROM products
WHERE products.id = %(param_1)s
2016-09-15 12:25:40,795 INFO sqlalchemy.engine.base.Engine {'param_1': 1056}
2016-09-15 12:25:40,798 INFO sqlalchemy.engine.base.Engine COMMIT
2016-09-15 12:25:40,803 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2016-09-15 12:25:40,805 INFO sqlalchemy.engine.base.Engine SELECT products.id AS products_id, products.category AS products_category, products.subcategory AS products_subcategory, products.title AS products_title, products.specs AS products_specs, products.price AS products_price, products.stage_price AS products_stage_price, products.image AS products_image
FROM products
WHERE products.id = %(param_1)s
2016-09-15 12:25:40,806 INFO sqlalchemy.engine.base.Engine {'param_1': 1057}
2016-09-15 12:25:40,811 INFO sqlalchemy.engine.base.Engine COMMIT
2016-09-15 12:25:40,815 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)